body{ 	
		background: url("http://static3.businessinsider.com/image/58f52b24c75d4a2d008b4e87/heres-the-difference-between-ice-cream-and-other-frozen-desserts.jpg'.");
}
.container{
		background: gray;
		margin-left: 250px;
		margin-right: 250px
}
.column1{	
        padding: 15px;
        font-size: 18px;
        min-height: 300px;
        background: pink;
        margin-bottom: 20px;
        margin-top: 20px;
        border-style: bold;
}
img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;


}

.column2{
        padding: 30px;
        font-size: 18px;
        min-height: 300px;
        background: purple;
        margin-bottom: 10px;
        text-align: center;
        margin-top:  100px
        m
}

h1{ 
	font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline;
    color:purple;

}

h2{
	font-size: 40px;
	text-align: center;
	margin-top: 25px
	margin-bottom: 15px;
	text-decoration: underline;
	color: purple;
}
h3{
	font-size: 30px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	text-decoration: underline;
	color: black;
    font-weight: 100px;

}
div.placeholder {
    position: relative;
    top:auto;
    left: auto;
    float: right;
    width: 100px;
    height: 100px;
    border: solid 1px #CCCCCC;
}